<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h3>Delete Member</h3>
    </div>
    <div class="modal-body">
      <ul class="errors"></ul>
      Are you sure you wish to delete <b><%= @team.name %></b>?
    </div>
    <div class="modal-footer">
      <%= link_to "Yes, Delete This Member", team_path(@team), method: :delete, remote: true, class: "btn btn-bordered-danger" %>
      <%= link_to "No, Please Don't", "#", class: "btn btn-bordered-success", data: { dismiss: "modal" } %>
    </div>
  </div>
</div>