<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
		  <h1 class="page-header"><%= "Editing #{@admin_user.name}" %></h1>
		</div>
		<%= render "form" %>
	</div>
</div>